
    <div class="navbar">
        <div class="icon">
            <h2 class="logo"><a href="index.html"><img src="../assets/cheaorange.png"  height="73" width="101"/></a></h2>
        </div>
        <header>
          <div class="menu">
            <ul class="nav-menu" >
                <li class="nav-item" id="home"><a [routerLink]="['/home']" class="nav-link">HOME</a></li>
                <li class="nav-item" id="events"><a [routerLink]="['/events']" class="nav-link">EVENTS</a></li>
                <li class="nav-item" id="blogs"><a href="blogs1.html"class="nav-link">BLOGS</a></li>
                <li class="nav-item" id="publications"><a href="publications23.html" class="nav-link">PUBLICATIONS</a></li>
                <li class="nav-item" id="links"><a href="links.html" class="nav-link">LINKS</a></li>
                <li class="nav-item" id="contacts"><a href="contacts1.html" class="nav-link">CONTACT</a></li>
                <li class="nav-item" id="facad"><a href="facad23.html" class="nav-link">FACAD</a></li>
            </ul>
        </div> 
    </header>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
      
